ENV=development

#GROQ
GROQ_API_KEY=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

# Supabase
SUPABASE_URL=https://xyzcompany.supabase.co
SUPABASE_KEY=your-anon-key

# Firebase
FIREBASE_CREDENTIALS=firebase_credentials.json
